.carousel-inner>.item>a>img, .carousel-inner>.item>img, 
.img-responsive, .thumbnail a>img, .thumbnail>img  {
	height: 100%;
	width: 90%;
}

#services {
	margin: 0 10%;
}

#services .portfolio-item .portfolio-link .caption {
    background: rgba(24, 188, 156, 0.9);
    position: absolute;
    width: 90%;
    height: 100%;
    opacity: 0;
}

#services .portfolio-item .portfolio-link .caption:hover {
	opacity: 1;
	animation-name: opacityToOne;
    animation-duration: 1s;
}

@keyframes opacityToOne {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes opacityToZero {
	from { opacity: 1; }
	to { opacity: 0; }
}

#services .portfolio-item .portfolio-link {
	display: block;
	position: relative;
	margin: 0 auto;
	height: 100%;
}

#services .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: white;
}

#services .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

.fa-3x {
	font-size: 3em;
}

#services .portfolio-item {
	padding: 15px 0;
	right: 0;
	height: inherit;
}

footer .container .row {
	height: 50px;
}

footer .container .row div p {
	color: black;
	vertical-align: middle;
	position: relative;
	top: 25%;
}

footer .container .row div .social-network-center {
	vertical-align: middle;
	position: relative;
	top: 8%;
}

.inherit-height {
	height: inherit;
}

.footer-center {
	height: inherit;
	vertical-align: middle;
	display: inline-block;
}

.button-to-top {
	width: 2%;
	height: 2%;
}

.arrow-right {
	color: black;
	position: absolute;
	/*right: -20%;*/
	left: 0;
}